.browse {
  margin: 2rem 8vw;
  box-sizing: border-box;
}

.browse-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

@media screen and (max-width: 800px) {
  .browse-nav {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 510px) {
  .browse-nav {
    justify-content: center;
  }
}
