.home-post {
  display: flex;
  gap: max(1rem, min(5vw, 2rem));
  background-color: var(--secondary-color);
  height: max(min(8vw, 8rem), 5rem);
  padding: max(4px, min(0.5vw, 0.75rem));
  padding-right: 1rem;
  box-sizing: border-box;
  align-items: center;
}

.home-post:hover {
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 10px var(--accent-color);
  cursor: pointer;
  text-decoration: none;
}

.home-post-image-container {
  height: max(min(8vw, 8rem), 5rem);
  aspect-ratio: 1/1;
  height: 100%;
  flex-shrink: 1;
}

.home-post-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-post-titles {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0;
}

.home-post-titles h3 {
  font-size: min(2rem, calc(1rem + 0.5vw));
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  color: white;
  margin: 0;
}

.home-post-titles h4 {
  font-size: min(1rem, calc(0.5rem + 0.5vw));
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-color-alt);
  margin: 0;
}

.home-post-info {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home-post-comment-count {
  font-size: min(1.5rem, calc(0.75rem + 0.5vw));
  margin-left: auto;
  color: var(--accent-color);
  width: fit-content;
  text-wrap: nowrap;
}

.home-post-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.home-post-tag {
  font-size: min(0.75rem, calc(0.5rem + 0.5vw));
  white-space: nowrap;
  list-style: none;
  color: var(--primary-color-alt);
}

@media screen and (max-width: 500px) {
  .home-post-image-container {
    display: none;
  }
}

@media screen and (max-width: 451px) {
  .home-post-tags {
    gap: 0.25rem;
  }

  .home-post {
    display: flex;
    height: 10rem;
    padding: max(6px, min(0.5vw, 0.75rem));
    justify-content: center;
  }

  .home-post-titles h3 {
    text-align: center;
    line-clamp: 4;
    -webkit-line-clamp: 4;
  }

  .home-post-titles h4 {
    text-align: center;
  }
}
