.error-boundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 1rem;
}

.error-boundary h1 {
  font-size: 5rem;
  margin: 0;
  color: var(--accent-color);
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.error-boundary h2 {
  font-size: 3rem;
  color: var(--primary-color-alt);
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.error-boundary a {
  font-size: 1.25rem;
  color: var(--accent-color);
}

.error-boundary a:hover {
  color: var(--primary-color-alt);
}
