:root {
  --header-height: 64px;
  --footer-height: 230px;
  --primary-color: #00568c;
  --primary-color-alt: #a8d4f0;
  --secondary-color: #00373a;
  --accent-color: #00ffbb;
  --shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px 3px;
}

html,
body,
#root {
  min-height: 100vh;
}

main {
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  text-transform: none;
  white-space: nowrap;
  min-width: auto;
}

.btn-sm {
  font-size: 1rem;
  padding: 0.5rem 2.75rem;
}

.btn-xl {
  padding: 1.25rem 4.5rem;
  font-size: 1.25rem;
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus-visible,
.btn:first-child:active {
  background-color: #003033;
  border-color: #003033;
  color: var(--accent-color);
}

.btn-primary:focus-visible {
  box-shadow: 0 0 0 0.25rem #00373a80;
}

.show > .btn-primary.dropdown-toggle {
  background-color: #003033;
  border-color: #003033;
}

.btn-primary:active {
  background-color: #002c2e;
  border-color: #002c2e;
}

.btn-primary:disabled {
  cursor: not-allowed;
  opacity: 0.75;
  background-color: var(--secondary-color);
}

.btn-secondary {
  background-color: #ffffff;
  border: 3px solid var(--secondary-color);
  color: #00373a;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:focus-visible {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--secondary-color);
}

.btn-secondary:focus-visible {
  box-shadow: 0 0 0 0.25rem #00ffbb80;
}

.btn-secondary:disabled {
  background-color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  color: var(--accent-color);
}

.submit-button {
  width: fit-content;
  padding: 0.5rem 5rem;
}

.form-control {
  border: 2px solid #bdbdbd;
}

.form-control:valid {
  margin: 0 !important;
}

.form-control:autofill:focus,
.input-group > .form-control:focus {
  border: 2px solid var(--accent-color);
  box-shadow: inset 0px 0px 0px 1px var(--accent-color);
}

.form-control:autofill {
  box-shadow: 0 0 0 40px white inset !important;
}

.form-control.is-invalid {
  border-color: #f93154 !important;
}

.was-validated .form-control:invalid {
  margin-bottom: 0;
}

.form-control.is-invalid:focus {
  box-shadow: 0 0 0 0.25rem rgba(249, 49, 84, 0.25) !important;
}

.was-validated .input-group .invalid-feedback {
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.invalid-feedback {
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  position: static;
  background-color: rgba(255, 0, 0, 0.315);
  border-radius: 3px;
  color: rgb(0, 255, 238);
  font-weight: bold;
}

.modal .invalid-feedback {
  margin-top: 0.5rem;
  color: rgb(0, 44, 41);
  width: 100%;
}

.modal .valid-feedback {
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  position: static;
  background-color: rgba(0, 255, 0, 0.315);
  border-radius: 3px;
  color: rgb(0, 44, 41);
  font-weight: bold;
  width: 100%;
}
